<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Warn" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/logs/simple-${shortdate}.log"
            layout="${longdate}|${level}|${message}|${exception}" />
    <target xsi:type="File" name="errfile" fileName="${basedir}/logs/simple_err-${shortdate}.log"
            layout="${longdate}|${level}|${message}|${exception:tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file"/>
    <logger name="*" minlevel="Info" writeTo="errfile"/>
  </rules>
</nlog>
