<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Warn" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="File" name="trace" fileName="${basedir}/logs/trace-${shortdate}.log"
            layout="${longdate}|${level}|${logger}|${message}|${exception}" />
    <target xsi:type="File" name="info" fileName="${basedir}/logs/info-${shortdate}.log"
            layout="${longdate}|${level}|${logger}|${message}|${exception}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="trace" />
    <logger name="*" minlevel="Info" writeTo="info" />
  </rules>
</nlog>
