<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseDir" value="D:\Base"/>
  </appSettings>
  <connectionStrings>
    <add name="localDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Base\DB\MylocalDB.mdf;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
<!--
Data Source=(localdb)\ProjectsV13;Initial Catalog=CoreDal;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False
-->

