<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Warn" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="File" name="common" fileName="${basedir}/logs/common-${shortdate}.log"
            layout="${longdate}|${level}|${message}|${exception}" />
    <target xsi:type="File" name="errdetails" fileName="${basedir}/logs/errdetails-${shortdate}.log"
            layout="${longdate}|${level}|${message}|${exception:tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="common" />
    <logger name="*" minlevel="Warn" writeTo="errdetails" />
  </rules>
</nlog>
