<?xml version="1.0" encoding="utf-8" ?>
<!--Async Wrapped file-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true">
  <targets>
    <target xsi:type="AsyncWrapper" name="AsyncF" overflowAction="Block" queueLimit="1000" batchSize="100" timeToSleepBetweenBatches="50">
      <target xsi:type="File" fileName="${basedir}/logs/async${shortdate}.log"
        layout="${longdate} ${uppercase:${level}} ${message}" />
    </target>
  </targets>
  <rules>
    <logger name="ConnectedAsync" minlevel="Debug" writeTo="AsyncF" />
  </rules>
</nlog>
